*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./image/riggs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay !important;
    background-color: #0008 !important;
}

.nav-search{
    visibility: visible;
    width: 100vw !important;
    margin-right: 70px;
}

.navbar-container{
    background-color: #0005;
    color: white;
}

.testin ul li a:hover{
    background-color: #ffd700;
    transition: 0.8s all;
}

.cards{
    background-color: #000000 !important;
}

.cards {
    color: white !important;
}

.card-text{
    color: white !important;
}

.cards:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px #0002;
}

.cards{
    transition: transform 0.7s ease-in-out;
}


.footer{
    background-image: url(./image/perfume\ 6.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 50vh; */
    background-blend-mode: overlay;
    background-color: rgb(0, 0, 0, 0.7);
    padding-top: 150px;
    padding-bottom: 150px;
}

.div-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo1:hover{
    content: url(./image/gold\ facebook.png);
}

.logo2:hover{
    content: url(./image/gold\ tiktok.png);
}

.logo3:hover{
    content: url(./image/gold\ instagram.png);
}

.logo4:hover{
    content: url(./image/gold\ linkedin.png);
}

.logo5:hover{
    content: url(./image/gold\ youtube.png);
}

.logo6:hover{
    content: url(./image/gold\ snapchat.png);
}

.logo7:hover{
    content: url(./image/gold\ whatsapp.png);
}

::-webkit-scrollbar {
  width: 10px; /* Set scrollbar width */
}   

::-webkit-scrollbar-track {
  background-color: black; /* Set track color */
}

::-webkit-scrollbar-thumb {
  background-color: gold; /* Set thumb color */
    border-radius: 10px; /* Set thumb border radius */
}

::-webkit-scrollbar-thumb:hover {
  background-color: lightgoldenrodyellow; /* Set hover color */
}


@media screen and (max-width: 480px) {
    .div-footer{
        width: 100%;
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }

    .logo-div{
        flex-wrap: wrap;
    }

    .text-div-footer{
        text-align: center;
    }

    .nav-search{
        visibility: visible;
        margin: auto;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .div-footer{
        width: 100%;
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }

    .logo-div{
        flex-wrap: wrap;
    }

    .text-div-footer{
        text-align: center;
    }

    .nav-search{
        visibility: visible;
        margin: auto;
    }
}